body {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0 15px;
}

h1 {
    padding: 20px 0;
    font-size: 32px;
    margin: 0 0 40px 0;
    background-color: #093D1D;
    color: #fff;
}
a {
    color: #093D1D;
    text-decoration: none;
}
#main-list a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    background-color: #093D1D;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    text-decoration: none;
}

a#back-uri {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    border: 3px solid #093D1D;
    color: #093D1D;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

#text p {
    margin: 0px 0 20px;
    line-height: 30px;
}

#text img {
    display: none;
}
#text h3 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #093D1D;
}
#text h4 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #093D1D;
}

#text span.bukvica {
    font-size: 26px;
    font-weight: 600;
    color: #093D1D;
}